<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../styles/style.css" rel="stylesheet">
</head>

<body>
  <!-- Navigation -->
  <nav>
    <img class="logo" src="../assets/logo.svg" alt="">
    <ul>
      <li class="become-interviewer">
        <img src="../assets/person.svg" alt="">
        Become an Interviewer
        <img src="../assets/arrow.svg" alt="">
      </li>
      <li>Features</li>
      <li>Pricing</li>
      <li>Start a trial</li>
      <li><button class="login">Login</button></li>
      <li><button class="signup">Signup</button></li>
    </ul>
    <img class="hamburger-menu" src="../assets/hamburger-menu.svg" alt="">
  </nav>

  <!-- Hero section -->
  <section class="hero">
    <div class="hero-text">
      <h2>Technical Interview Resources</h2>
      <p>Find all the technical interview resources here</p>
      <input type="text" placeholder="Search for resources here">
    </div>
    <div class="cards-container">
      <div class="card hide-on-mobile">
        <div>
          <span class="tag easy">Easy</span>
          <p>DATA STRUCTURES & ALGORITHMS</p>
        </div>
        <h3>Design a Free Food App</h3>
        <p>We created this guide after speaking with our community of interviewers, which includes over 100 current and
          former Amazon engineers, as well as our coupus of mock interviews</p>
      </div>
      <div class="card">
        <div id="tag-heading">
          <span class="tag medium">Medium</span>
          <p>DATA STRUCTURES & ALGORITHMS</p>
        </div>
        <h3>Design a Free Food App</h3>
        <p>We created this guide after speaking with our community of interviewers, which includes over 100 current and
          former Amazon engineers, as well as our coupus of mock interviews</p>
      </div>
      <div class="card hide-on-mobile">
        <div>
          <span class="tag hard">Hard</span>
          <p>DATA STRUCTURES & ALGORITHMS</p>
        </div>
        <h3>Design a Free Food App</h3>
        <p>We created this guide after speaking with our community of interviewers, which includes over 100 current and
          former Amazon engineers, as well as our coupus of mock interviews</p>
      </div>
      <div class="card hide-on-mobile">
        <div>
          <span class="tag easy">Easy</span>
          <p>DATA STRUCTURES & ALGORITHMS</p>
        </div>
        <h3>Design a Free Food App</h3>
        <p>We created this guide after speaking with our community of interviewers, which includes over 100 current and
          former Amazon engineers, as well as our coupus of mock interviews</p>
      </div>
      <div class="card">
        <div id="tag-heading">
          <span class="tag medium">Medium</span>
          <p>DATA STRUCTURES & ALGORITHMS</p>
        </div>
        <h3>Design a Free Food App</h3>
        <p>We created this guide after speaking with our community of interviewers, which includes over 100 current and
          former Amazon engineers, as well as our coupus of mock interviews</p>
      </div>
      <div class="card hide-on-mobile">
        <div>
          <span class="tag hard">Hard</span>
          <p>DATA STRUCTURES & ALGORITHMS</p>
        </div>
        <h3>Design a Free Food App</h3>
        <p>We created this guide after speaking with our community of interviewers, which includes over 100 current and
          former Amazon engineers, as well as our coupus of mock interviews</p>
      </div>
      <div class="card hide-on-mobile">
        <div>
          <span class="tag easy">Easy</span>
          <p>DATA STRUCTURES & ALGORITHMS</p>
        </div>
        <h3>Design a Free Food App</h3>
        <p>We created this guide after speaking with our community of interviewers, which includes over 100 current and
          former Amazon engineers, as well as our coupus of mock interviews</p>
      </div>
      <div class="card">
        <div id="tag-heading">
          <span class="tag medium">Medium</span>
          <p>DATA STRUCTURES & ALGORITHMS</p>
        </div>
        <h3>Design a Free Food App</h3>
        <p>We created this guide after speaking with our community of interviewers, which includes over 100 current and
          former Amazon engineers, as well as our coupus of mock interviews</p>
      </div>
      <div class="card hide-on-mobile">
        <div>
          <span class="tag hard">Hard</span>
          <p>DATA STRUCTURES & ALGORITHMS</p>
        </div>
        <h3>Design a Free Food App</h3>
        <p>We created this guide after speaking with our community of interviewers, which includes over 100 current and
          former Amazon engineers, as well as our coupus of mock interviews</p>
      </div>
      <div class="card hide-on-mobile">
        <div>
          <span class="tag easy">Easy</span>
          <p>DATA STRUCTURES & ALGORITHMS</p>
        </div>
        <h3>Design a Free Food App</h3>
        <p>We created this guide after speaking with our community of interviewers, which includes over 100 current and
          former Amazon engineers, as well as our coupus of mock interviews</p>
      </div>
      <div class="card hide-on-mobile">
        <div>
          <span class="tag medium">Medium</span>
          <p>DATA STRUCTURES & ALGORITHMS</p>
        </div>
        <h3>Design a Free Food App</h3>
        <p>We created this guide after speaking with our community of interviewers, which includes over 100 current and
          former Amazon engineers, as well as our coupus of mock interviews</p>
      </div>
      <div class="card hide-on-mobile">
        <div>
          <span class="tag hard">Hard</span>
          <p>DATA STRUCTURES & ALGORITHMS</p>
        </div>
        <h3>Design a Free Food App</h3>
        <p>We created this guide after speaking with our community of interviewers, which includes over 100 current and
          former Amazon engineers, as well as our coupus of mock interviews</p>
      </div>
    </div>
  </section>

  <!-- Security Section -->
  <section class="security">
    <h2>Security is our top priority</h2>
    <p>Intervue serves startups to fortune 500 companies with enterprise grade security baked in by desing</p>
    <div class="bento">
      <div class="security-card">
        <img class="security-img" src="../assets/key.svg" alt="">
        <h3>Security</h3>
        <p>Protecting your data at every layer is fundamental to how intervue works</p>
        <img class="arrow-right" src="../assets/arrow-right.svg" alt="">
      </div>
      <div class="security-card">
        <img class="security-img" src="../assets/stack.svg" alt="">
        <h3>Complainces</h3>
        <p>Enterprise grade compliance commitments where we have established controls to adhere to those commitments</p>
        <img class="arrow-right" src="../assets/arrow-right.svg" alt="">
      </div>
      <div class="hide-on-mobile special">
        <div>
          <img class="security-img" src="../assets/key.svg" alt="">
          <h3>Intervue for Startups</h3>
          <img class="arrow-right" src="../assets/arrow-right.svg" alt="">
        </div>
        <div>
          <img class="security-img" src="../assets/stack.svg" alt="">
          <h3>Intervue for Enterprises</h3>
          <img class="arrow-right" src="../assets/arrow-right.svg" alt="">
        </div>
      </div>
      <div class="show-on-mobile">
        <img class="security-img" src="../assets/key.svg" alt="">
        <h3>Intervue for Startups</h3>
        <img class="arrow-right" src="../assets/arrow-right.svg" alt="">
      </div>
      <div class="show-on-mobile">
        <img class="security-img" src="../assets/stack.svg" alt="">
        <h3>Intervue for Enterprises</h3>
        <img class="arrow-right" src="../assets/arrow-right.svg" alt="">
      </div>
    </div>
  </section>

  <!-- Testimonial Section -->
  <section class="testimonial">
    <div class="video">
      <video src="https://dersyb7nfifdf.cloudfront.net/public/assets/videos/Yubi-Niket.mp4" controls></video>
    </div>
    <div class="content">
      <p>After interviewing candidates on Intervue, we were able to convert at least 5% of people from our application
        base to hires.</p>
      <div class="name-designation">
        <h3>Niket Gupta</h3>
        <p>Group head of talent acquisition, Yubi</p>
      </div>
      <h3 class="view-more">See more customer stories <img src="../assets/arrow-right-blue.svg" alt=""></h3>
    </div>
  </section>

  <!-- Explore More Section -->
  <section class="explore-more">
    <div class="heading">
      <h2>Explore more products on intervue</h2>
    </div>
    <div class="products">
      <div class="product-card">
        <img src="../assets/match-interview.jpg" alt="">
        <h3>On-demand</h3>
        <p>Save 90% of engineering & recruitment bandwidth, outsource candidate interviews to us</p>
        <h4>Know more <img class="arrow-right-blue" src="../assets/arrow-right-blue.svg" alt=""></h4>
      </div>
      <div class="product-card">
        <img src="../assets/live-interview.jpg" alt="">
        <h3>Live interviews</h3>
        <p>Assess candidates in real-time with our live coding environment & integrated video calls</p>
        <h4>Know more <img class="arrow-right-blue" src="../assets/arrow-right-blue.svg" alt=""></h4>
      </div>
      <div class="product-card">
        <img src="../assets/assessments.jpg" alt="">
        <h3>Assessments</h3>
        <p>Share assessments across batches with MCQ, Programming and Subjective questions.</p>
        <h4>Know more <img class="arrow-right-blue" src="../assets/arrow-right-blue.svg" alt=""></h4>
      </div>
    </div>
  </section>

  <!-- FAQ Section -->
  <section class="faq">
    <div class="faq-main">
      <div class="faq-heading">
        <h1>FAQs</h1>
        <p>Here are frequently asked questions to clear all your doubts.</p>
        <p class="faq-mobile">Cras tincidunt lobortis feugiat vivamus at morbi leo urna molestie atole elementum eu
          facilisis faucibus interdum posuere.</p>
      </div>
      <div class="faq-content">
        <div>
          <h2>How do I schedule an interview?</h2>
          <img src="../assets/plus.svg" alt="">
        </div>
        <div>
          <h2>Will I be charged per interview?</h2>
          <img src="../assets/plus.svg" alt="">
        </div>
        <div>
          <h2>Can I get a trial for On-demand interviews?</h2>
          <img src="../assets/plus.svg" alt="">
        </div>
      </div>
      <div class="faq-mobile">
        <div>
          <h2>What is Webflow and why is it the best website builder?</h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta blanditiis est, mollitia repudiandae
            perspiciatis modi? Dolore nemo doloribus impedit suscipit? Lorem ipsum dolor sit amet consectetur
          </p>
        </div>
        <div>
          <h2>What is your favorite template from BRIX Templates?</h2>
        </div>
        <div>
          <h2>How do you clone a Webflow Template?</h2>
        </div>
        <div>
          <h2>Why is BRIX Templates the best Webflow agency?</h2>
        </div>
      </div>
    </div>
    <div class="faq-extra">
      <h2>Still have doubts?</h2>
      <h3><img src="../assets/phone.svg" alt=""> Talk to our representative</h3>
    </div>
  </section>

  <!-- Footer Section -->
  <footer>
    <div class="content">
      <div class="left">
        <div class="top">
          <img src="../assets/logo-white.svg" alt="">
          <div class="social">
            <h4>Facebook</h4>
            <h4>Instagram</h4>
            <h4>Linkedin</h4>
            <h4>Pinterest</h4>
          </div>
        </div>
        <div class="mail">
          <h2>Hire better & faster</h2>
          <input type="email" placeholder="Enter your email address">
        </div>
      </div>
      <div class="links-main">
        <div class="links">
          <ul>
            <li class="link-heading">Company</li>
            <li>So gehts</li>
            <li>Erfahrung</li>
            <li>Aligner</li>
            <li>Preise</li>
            <li>Standorte</li>
          </ul>
          <ul>
            <li class="link-heading">Resources</li>
            <li>Blog</li>
            <li>FAQ</li>
            <li>Lift Media</li>
            <li>Offene Stellen</li>
            <li>Presse kit</li>
          </ul>
        </div>
        <div class="links">
          <ul>
            <li class="link-heading">Product</li>
            <li>Gratis Termin</li>
            <li>Freude einladen</li>
            <li>Patienteninforma</li>
          </ul>
          <ul>
            <li class="link-heading">Product</li>
            <li>Blog</li>
            <li>FAQ</li>
            <li>Lift Media</li>
            <li>Offene Stellen</li>
            <li>Presse kit</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-end">
      <p>© 2023 Intervue. Crafted by great minds. </p>
      <div>
        <h3>Dateenschutz</h3>
        <h3>Impressum</h3>
        <h3>Cookie Policy</h3>
        <h3>AGBs</h3>
      </div>
    </div>
    <div class="mobile-content">
      <div class="top">
        <img src="../assets/logo-white.svg" alt="">
        <div class="mail">
          <h2>Hire better & faster</h2>
          <input type="email" placeholder="Enter your email address">
        </div>
      </div>
      <div class="links">
        <ul>
          <li class="link-headings">Menu</li>
          <li>Home</li>
          <li>Pricing</li>
          <li>Case Studies</li>
          <li>Fearures</li>
          <li>Downloads</li>
          <li>Updates</li>
          <li>Changelog</li>
        </ul>
        <ul>
          <li class="link-headings">Company</li>
          <li>About</li>
          <li>Contact us</li>
          <li>Careers</li>
          <li>Culture</li>
          <li>Help Center</li>
          <li>Support</li>
          <li>Legal</li>
        </ul>
      </div>
      <div class="links">
        <ul>
          <li class="link-headings">Menu</li>
          <li>Home</li>
          <li>Pricing</li>
          <li>Case Studies</li>
          <li>Fearures</li>
          <li>Downloads</li>
          <li>Updates</li>
          <li>Changelog</li>
        </ul>
        <ul>
          <li class="link-headings">Company</li>
          <li>About</li>
          <li>Contact us</li>
          <li>Careers</li>
          <li>Culture</li>
          <li>Help Center</li>
          <li>Support</li>
          <li>Legal</li>
        </ul>
      </div>
    </div>
    <div class="end">
      <p>Copyright © 2023 intervue.io</p>
      <p>All Rights Reserved</p>
    </div>
  </footer>

</body>

</html>